@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
td {
  @apply text-center;
}
body {
  @apply bg-background text-white h-screen overflow-y-auto;
}
